.wrapper {
  position: relative;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}

.danaMall {
  background: center / cover url('/danaMall-cinema.jpeg') no-repeat;
}

.palazzo {
  background: center / cover url('/palazzo-cinema.jpeg') no-repeat;
}

.arenaCity {
  background: center / cover url('/arenaCity-cinema.jpeg') no-repeat;
}

.triniti {
  background: center / cover url('/triniti-cinema.jpeg') no-repeat;
}

.backgroundAdditional {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 21.88%, #0F0F0F 100%);
  transform: rotate(-180deg);
  z-index: 4;
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 21.87%, #0F0F0F 100%);
  z-index: 3;
}

.summarySection {
  z-index: 5;
  position: relative;
  box-sizing: border-box;
  padding: 172px 100px;
  font-family: 'Gilroy', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mainText {
      margin: 20px 0 0 0;
      color: #FFFFFF;
      font-weight: 600;
      font-size: 122px;
      line-height: 100%;
    }
  }

  .info {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;

    .addressBlock {
      margin: 0;
    }
  }

  .info > a {
    line-height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    border-bottom: 2px solid #FFFFFF;
  }
}

@media screen and (max-width: 1120px) {
  .summarySection {

    .logo {

      .mainText {
        font-size: 74px;
        line-height: 78px;
      }
    }

    .logo > svg {
      width: 500px;
      height: auto;
    }

    .info {
      font-size: 28px;

      .addressBlock {
        margin: 0 0 16px 0;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .summarySection {
    align-items: flex-start;
    padding: 117px 80px 109px;

    .logo {
      margin: 0 0 50px 0;
      align-items: flex-start;

      .mainText {
        margin: 25px 0 0 0;
        font-size: 60px;
        line-height: 64px;
      }
    }

    .logo > svg {
      width: 440px;
    }

    .info {
      width: 70%;
      font-size: 24px;
      line-height: 130%;
      text-align: left;

      & > span {
        font-size: 19px;
      }
    }
  }
}

@media screen and (max-width: 614px) {
  .summarySection {
    padding: 117px 32px 109px;

    .logo {
      .mainText {
        font-size: 40px;
        line-height: 42px;
      }
    }

    .logo > svg {
      width: 242px;
    }

    .info {
      width: 100%;
    }
  }
}

@media screen and (max-width: 375px) {
  .summarySection {

    .logo {
      .mainText {
        font-size: 30px;
        line-height: 32px;
      }
    }

    .logo > svg {
      width: 170px;
    }

    .info {
      width: 70%;
      font-size: 24px;
      line-height: 130%;
      text-align: left;

      .addressBlock {
        margin: 0 0 16px 0;
      }

      & > span {
        font-size: 19px;
      }
    }

    .info {
      width: 100%;
      font-size: 21px;
      line-height: 130%;
    }

  }
}